<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coupon Distribution System | Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
        <div class="container">
          <a class="navbar-brand" href="/">Gail India Limited</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container">
        <h1 class="text-center">Coupon Distribution System</h1>

        <!-- <form action=""method ="post">

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">CPF Number</label>
              <input type="number" class="form-control" id="exampleInputPassword1">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> -->

          <h3>Kindly enter your details to awail coupons:</h2>
          <div class="position-absolute top-50 start-50 translate-middle shadow p-5 mb-5 bg-body-tertiary rounded">
              <form action="/coupon" method="POST">
                <!-- <label for="name">Name:</label>
                <input type="text" name="name" required><br><br> -->
                <br><br>
                <label for="cpfno">CPF Number:</label>
                <input type="text" name="cpfno" placeholder="CPF number" required>
                <br>
                <br>

            
                <!-- <label for="email">Email:</label>
                <input type="email" name="email" required><br><br> -->
            
                <label for="num_coupons">Number of coupons:</label>
                <input type="number" name="num_coupons" required><br><br>
                <br><br>
            
                <input type="submit" value="Submit">
              </form>
          </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>