<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Success</h1>
        <div class="position-absolute top-50 start-50 translate-middle shadow p-5 mb-5 bg-body-tertiary rounded">
            <h3>Cpf Number: </h3>
            <p>{{cpfno}}</p>
            <h3>Coupon Numbers:</h3>
            {% for coupon in coupons %}
                <p>{{ coupon }}</p>
            {% endfor %}
            <a class="btn btn-secondary" id = "prn"  role="button">Print Ticket</a>
            <a class="btn btn-secondary" href="/">Go back to the form</a>
        </div>
    </div>


    <script>
        const printbutton = document.getElementById("prn");
        function printPage() {
            setTimeout(function() {
                window.print();
             }, 500);
        }

        printbutton.addEventListener("click", () => {
            
            printPage(); 
        
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>